@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Ubuntu Condensed", sans-serif, Arial;
    color: rgb(240, 240, 240);
    font-size: 35px;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(251, 199, 127);
}